<!-- results.html -->
<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico">
        <title>Test Python Template</title>
    </head>
<body>
<h1>Чтобы обновить данные, перезагрузи страницу</h1>
<!-- div to contain form -->
<div class='div_outer'>
    <table>
        <tr>
          <th>id</th>
          <th>id</th> 
          <th>order_number</th>
          <th>price in dollars</th>
          <th>delivery date</th>
          <th>price in rub</th>
        </tr>
        
        {{data}}
</div>
<!-- Close the body of the HTML document -->
</body>
</html>